@charset "ISO-8859-1";

*{
	text-align:center;	
}

h1 {
	color: red;
}

.center{
	text-align: center;
	display: inline-block;
}

.low{
	border: solid .2rem ;
	display: inline-block;
	width: 10rem;
	height: 10rem;
	padding-top:.9rem;
	background: red;
	color:white;
}

.high{
	border: solid .2rem ;
	display: inline-block;
	width: 10rem;
	height: 10rem;
	padding-top:.9rem;
	background: blue;
	color: white;
}

.found{
	border: solid .2rem ;
	display: inline-block;
	width: 10rem;
	height: 10rem;
	padding-top:.9rem;
	background: green;
	color: white;
}
	

